# Python
*.pyc
__pycache__

# Django local settings
/src/project/settings/local.py

# Docker local settings
/docker.env
/netrc

# IDE settings
.vscode

# Virtualenv
/venv/

# corpusops & ansible
*.retry
/.ansible/scripts/ansible_deploy_env
/local/
