# To override in your project skeleton
PROJECT_DIR=/code/src/project/
PROJECT_PACKAGE=project
#
POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
#
HOSTNAME=${DJANGO_NAME}
#
NGINX_FRONT_URL=http://localhost:8080
# retrocompat
FRONT_URL=http://localhost:8080
# PROD
# TERRALEGO_FRONT_DOMAIN="{{cookiecutter.prod_front_domain }}"
# TERRALEGO_BACK_DOMAIN="{{cookiecutter.prod_back_domain }}"
# TERRALEGO_MAIL_DOMAIN="{{cookiecutter.mail_domain }}"
# FRONT_URL=http://{{'{{'}} cookiecutter.prod_front_domain }}

# This need to be changed in production
SECRET_KEY=ChangeThatSuperSecret
# vim: set ft=sh:
